<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>coreAnmitionTextLearning.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>605CE1EE1CB8DD9200D91782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>605CE2071CB8DD9200D91782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>605CE2121CB8DD9200D91782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
